*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #000000;
}

/*header*/
header{
  border-bottom: solid #ffffff79 1px;
}
#headerContainer{
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 30px;
}

/*navbar*/
nav{
  display: flex;
}
nav div{
  padding-left: 15px;
}
nav div a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

/*loading*/
.open{
  text-decoration: underline;
}
.hide{
  display: none;
}
.loader{
  display: flex;
  justify-content: center;
}

.glitch {
  position: relative;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

/*main*/
#main{
  border-bottom: solid #ffffff79 1px;
  margin-bottom: 50px;
}

/*cards*/
#cardsContainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.headerContainer h3{
  color: #fff;
  text-align: center;
  margin-top: 20px;
  font-size: 2.3em;
}
.CharactersCard{
  width: 250px;
  padding: 15px;
  margin: 20px;
  border: solid 1px #ffffff79;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer img{
  width: 200px;
}
.nameCharacterContainer h2{
  color: #fff;
  text-align: center;
  font-size: 1.2em;
}
.dataContainer{
  width: 90%;
}
.dataContainer ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.dataContainer ul li{
  color: #fff;
}

/*locations episodes*/
#locationsListContainer, #episodesListContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.locationsList, .episodesList{
  display: flex;
  height: 50%;
  justify-content: center;
  border: 1px solid #ffffff7c;
  margin: 0.5em 2em;
}
.locationsList  li, .episodesList li{
  color: #ffffff;
  margin: 0.5em 1em;
}
.locationsList li span, .episodesList li span{
  font-size: 1.1em;
  font-weight: bold;
}